.container {
  border: 1px solid grey;
  background-color: rgba(255, 180, 0);
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 2px 3px darkgray;
  cursor: pointer;
  margin: 1rem;
}

.container:hover {
  transform: scale(1.03);
}

.title {
  text-align: center;
  color:rgba(22, 42, 76);
}